#ratio_2_1 {
  --height: 400;
  --width: 800;
}

#ratio_16_9 {
  --height: 450;
  --width: 800;
}
#ratio_4_3 {
  --height: 600;
  --width: 800;
}

#ratio_1_1 {
  --height: 800;
  --width: 800;
}

:root {
  --conversion-rate: 100%;
}
.ratio {
  padding-block-start: calc((var(--height) / var(--width) * var(--conversion-rate)));
}
