.container blockquote {
  width: 100%;
  width: calc(var(--variable-width) - var(--num-of-pseudo-elements) * ((2 * var(--spacing-amount)) + var(--width-of-the-emojies)));
  box-sizing: border-box;
}

:root {
  --variable-width: 100%;
  --num-of-pseudo-elements: 2;
  --spacing-amount: 1rem;
  --width-of-the-emojies: 4rem;
}
