
body {
width: 600px;
table-layout: auto;
border: 1px solid;
display: table;
}

h2 {
  vertical-align: middle;
  padding-left: 20px;
  display: table-cell;
}

section {
  padding-left: 14rem;
  padding-bottom: 1rem;
  display: table;
  table-layout: auto;
  border-spacing: 10px;
}
