/* Set up */
.columns > * {
  padding: 1rem;
  color: #fff;
  background-color: rgba(var(--article-elem-color), var(--article-bg-transparency));
}

.columns > * * {
  background-color: inherit;
  margin: 0;
  padding: inherit;
}

.columns article {
  --article-elem-color: 63, 191, 63;
}

.columns aside {
  --article-elem-color: 191, 63, 63;
}

/* 7 */
[data-example="7"] {

}
[data-example="7"] .columns{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
[data-example="7"] aside{
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}
[data-example="7"] aside{
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-end: 1rem;
  margin-inline-start: 1rem;
}
[data-example="7"] article {
  margin-inline-start: 1rem;
  margin-block-end: 1rem;
  margin-block-start: 1rem;
}
/* 8 */
[data-example="8"] {
  display: flex;
  justify-content: stretch;
}
[data-example="8"] > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  flex-grow: 1;
}
[data-example="8"] p {
  text-align:left;
}
[data-example="8"] aside {
    margin-block-end: 1rem;
    margin-block-start: 1rem;
    margin-inline-end: 1rem;
}
[data-example="8"] article {
  margin-block-end: 1rem;
  margin-block-start: 1rem;
  margin-inline-start: 1rem;
}

/* 9 */
[data-example="9"] {
  columns: 2;
  }
  [data-example="9"] aside,
  [data-example="9"] article{
    height:180px;
  }
  /* [data-example="9"] aside {
    margin-block-end: 1rem;
    margin-block-start: 1rem;
    margin-inline-end: 1rem;
}
[data-example="9"] article {
  margin-block-end: 1rem;
  margin-block-start: 1rem;
  margin-inline-start: 1rem;
} */
