:root {
  --base-unit: 10px;
  --cube-side: calc(2 * var(--base-unit));
  --transition: color 1s;
  --color: rgb(63, 63, 63);
  --whithout-unit: 0;
  --increment: item;
  --without-unit-rgb: 0, 0, 0;
}

#dry .grid {
  display: inline-grid;
  grid-template-columns: repeat(10, var(--cube-side));
}

#dry a {
  display: block;
  position: relative;
  width: var(--cube-side);
  height: var(--cube-side);
  background-color: var(--color);
  transition: var(--transition);
  counter-increment: var(--increment);
}

#dry a:hover {
  background-color: rgb(var(--without-unit-rgb));
}

#dry a::before {
  content: counter(var(--increment));
  position: absolute;
  top: var(--whithout-unit);
  left: var(--whithout-unit);
  width: var(--cube-side);
  text-align: center;
  font-size: var(--base-unit);
  line-height: var(--cube-side);
  font-weight: 700;
  color: var(--color);
  transition: var(--transition);
}

#dry a:hover::before {
  color: rgb(255, 255, 255);
}
