input[type="checkbox"]:checked ~ .dropdown_contents > ul {
  display: block;
  visibility: visible;
}

div.dropdown_contents {
  background-color: gray;

}
ul {
  display: none;
  list-style: none;
}

li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
}

