
.icon_left::before {
  background-image: url(../css/icon-facebook.png);
  content: "";
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  height: 1.5rem;
  margin-top: -0.75rem;
  width: 1.5rem;
  background-size: contain;
  left: 0.75rem;
  top: 50%;
}
 .icon {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 1rem;
  position: relative;
  background-color: gray;
  font-weight: bold;
}

.icon_right::after {
  background-image: url(../css/icon-facebook.png);
  background-size: contain;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  margin-top: -0.75rem;
  content: "";
  right: 0.75rem;
  top: 50%;
}

.icon_right {
  padding-right: 3rem;
}
.icon_left {
  padding-left: 3rem;
}

