
body header{
  color: white;
  text-decoration: none;
  background-size: contain;
}
body > header {
  height: 350px;
  background-size: 100%;
  background-image: url(../images/bg_desktop.jpg);
  background-repeat: no-repeat;
  background-position: 1px;
  border: solid 1px;
  color: white;
}

body h1 a {
   margin-left: 1rem;
   font-size: 1rem;
   color: white;
   display: block;
   text-decoration: none;
 }

#lost {
  text-align: center;
  font-size: 2rem;
}

#journal {
  text-align: center;
  font-weight: lighter;
}
