header nav > ul li {
  text-align: right;
  text-decoration: none;
  display: inline-block;
}
a.link {
  color: white;
  text-decoration: none;
  display: inline;
  margin: 0.5rem;
}
body header nav {
  margin-block-start: -3rem;
  margin-block-end: 5rem;
  text-align: right;
}
