nav > ul > li {
  text-align: right;
  text-decoration: none;
  display: inline-block;
}
a.link {
  color: white;
  text-decoration: none;
  color: white;
  background-size: contain;
  display: inline;
  margin: 0.5rem;
}

#nav {
  text-align: right;
  margin-right: 1rem;
  margin-top: 0rem;
  margin-bottom: -2rem;
}
