#li {
  margin-left: 50rem;
  margin-right: 50rem;
  display: block;
}

.border {
  border-bottom: solid 0.5px;
  font-style: italic;
  font-size: 1rem;
  display: block;
}
.jesse {
  font-style: italic;
  font-size: 1rem;
}

p#small {
  font-weight: lighter;
  font-size: normal;
  font-family: initial;;
}
