/*
  We need the following numbering structure:

    1. Major clause `<h3>` separated by `<section>`s
      1.1. Clause (with a List) `<h4>` with a `<ol>` sibling
        1.1.a. List item `<li>`
        1.1.b. List item (with a List) `<li>` with a `<ol>` child
          1.1.b.i. Nested list item `<li>`
          1.1.b.ii. Nested list item `<li>`
          1.1.b.iii. Nested list item `<li>`
          1.1.b.iv. Nested list item `<li>`
          …
        1.1.c. List item `<li>`
        …
      1.2. Clause `<h4>`
      …
      1.13. Clause `<h4>`
    2. Major clause `<h3>` in a new `<section>`
    …
*/
html {
  display: block;
  width: 90rem;
}
body {
  counter-reset:section;
  line-height: 1rem;
  font-family: 'Courier New';
}

h3:before {
  counter-increment: section;
  content: counter(section) ".\0000a0\0000a0";
}
h3 {
  counter-reset: subsection;
  font-size: 1.5rem;
  padding-top: 1rem;
  line-height: 2rem;
}
h4:before {
content : counter(section) "." counter(subsection) ". ";
counter-increment : subsection;
}

ol {
  list-style: lower-latin;
  padding: 1rem;
  line-height: 2rem;
}
ol > li > ol {
  list-style-type: lower-roman;
}

section {
  display: inline-block;
  margin: 0rem;
  margin-left: 40rem;
  margin-top: -2rem;
}
article > header {
  font-size: 2rem;
}
header h1 {
  visibility: hidden;
}
body p,
li {
  font-size: 1rem;
  line-height: 1.5rem;
  color: gray;
}
header h4 {
  font-size: 2rem;
}
/*
ol {
  counter-reset: li;
}
ol > li::before {
  counter-increment: subsection;
  content: counter(subsection) "."
           counter(li);
  list-style: lower-latin;
}
