@charset "HTF-8";

.dory_background {
  background-color: gainsboro;
  background-image:  url(../images/coral-reef.png),
                   linear-gradient(180deg,
                   lightblue 0%,
                   lightblue 10%,
                   darkblue 10%,
                   darkblue 70%,
                   lightyellow 70%,
                   lightyellow 100%);
  background-position: center left,
                       0 0;
  background-repeat: no-repeat,
                     no-repeat;
  background-size: 1000px,
                   100% 100%;
}

div#reef_1 {
  background-image: url(../images/coral-reef.png);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 1000px;
}


.henry_background {
  background-image: url(../images/grass-clump.png),
                    url(../images/sun.png),
                    linear-gradient(180deg,
                    lightblue 0,
                    lightblue 40%,
                    lightyellow 40%,
                    lightyellow 100%);
  background-position: center,
                      top left,
                      0 0;
  background-repeat: no-repeat,
                     no-repeat,
                     no-repeat;
  background-size: 500px,
                   100px,
                   100% 100%;
  background-color: ivory;
}

div#grass {
  background-image: url(../images/grass-clump.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 300px;
}

.lu-seal_background {
  background-color:powderblue;
  background-image: linear-gradient(to top right,rgba(17, 0, 255, 0.5), #5eff00ec);
  background-image: url(../images/palm-2.png),
                    url(../images/palm-2.png),
                    url(../images/beach-ball.png);
  background-position: bottom left, bottom right;
  background-repeat: no-repeat;
  background-size: 700px, 700px, 300px;
}
