@charset "HTF-8";

.dory_background {
  background-color: aqua;
  background-image: linear-gradient(to bottom,rgba(255,55,0,0.5), rgba(0,0,255,0.5));
  background-image: url(../images/bubble.png), url(../images/coral-reef.png);
  background-position: center;
  background-repeat: round;
  background-size: 700px;
}
.crab {
  background-image: url(../images/crab.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 300px;
}
.henry_background {
  background-color:powderblue;
  background-image: linear-gradient(to top right,rgba(51, 255, 0, 0.5), rgba(255, 0, 55, 0));
  background-image: url(../images/sun.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100px;
}
.palm_background {
  background-image: url(../images/palm-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain, 1500px;
}

.grass_background {
  background-image: url(../images/grass-left.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 1000px;
}
.lu-seal_background {
  background-color:powderblue;
  background-image: linear-gradient(to top right,rgba(17, 0, 255, 0.5), #5eff00ec);
  background-image: url(../images/beach-ball.png), url(../images/palm-2.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 700px;
}

.lu-seal_background {
  background-color:powderblue;
  background-image: linear-gradient(to top right,rgba(17, 0, 255, 0.5), #5eff00ec);
  background-image: url(../images/palm-2.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 700px;
