nav li {
  visibility: hidden;
}
nav li:first-child {
  visibility: visible;
}
[data-bg-color="yellow"] {
  display: none;
}
[data-bg-color="blue"] {
  display: none;
}
td span,
tr:nth-of-type(2) {
  display: none ;
}


div span {
  opacity: 0.5;
}
