/* 1 pseudo-element selector= Select everything in the document */
::selection {
  all: unset;
}


/* 2 element selector= Select only table elements */
table {
  border-spacing: 0;
  border-collapse: collapse;
}


/* 3 class selector= Select any element with a class value of `police` */
.police {
  color: blue;
  background-color: red;
}


/* 4 descendent combinator= Select any `h1` element that is a descendent of the `header` element */
header h1 {
  font-size: 4rem;
  margin-bottom: 0;
}


/* 5 child combinator= Select only the `ul` elements that are children of the `nav` element */
nav>ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


/* 6 pseudo-class selector= Select only the first child paragraph within a `section` element */
section:first-child {
  font-size: 1.5rem;
}


/* 7 element selector= Select any heading element */
heading {
  font-weight: normal;
}


/* 8 pseudo-class selector= Select all anchors that are also links */
a:link {
  text-decoration: underline;
}


/* 9 pseudo-class selector= Select any anchor that is hovered over with the mouse */
a:hover {
  text-decoration: none;
}


/* 10 ID selector= Select only the element with ID value equal to `captain` */
#captain {
  border: 5px solid gold;
  border-radius: 5px;
}


/* 11 class selector= Select all paragraph elements that have a class value of `hidden` */
p.hidden {
  display: none;
}


/* 12 attribute selector= Select all form elements that have a method attribute set to `POST` */
form[method=POST] {
  box-shadow: 2px 2px 5px rgba(0,0,0,.1);
}


/* 13 attribute selector= Select any element that has a `required` attribute defined */
[required] {
  border-color: red;
}


/* 14 General sibling combinator= Select any sibling paragraph elements that are preceeded by an `h3` */
h3 ~ p {
  color: #66F;
}


/* 15 adjacent sibling combinator= Select any sibling paragraph elements that directly follow an `h3` */
h3 + p {
  font-size: 1.5rem;
}


/* 16 = Select every cell within each odd table row */
tr:nth-child(odd) {
  background-color: rgba(0,0,0,.1);
}


/* 17 attribute selector= Select any `img` element that doesn't have a `alt` attribute */
img[attr$=alt] {
  border: 5px solid red;
}


/* 18 pseudo-class selector= Select any `p` element that doesn't have any contents */
p:not(contents) {
  display: none;
}


/* 19 pseudo-class selector= Select the root of the document or fragment */
:root {
  --base_unit: 1rem;
}
