/*
  1--At least 2 other font file formats.
    OTF
    WOFF2
    EOT
    SVG

  2--Which of these font file formats is a good candidate to use in all browsers?
--->The WOFF format is useful because it supports all of the browsers.

The font-face syntax is also different to other @-blocks. What are the differences between a @font-face block and @keyframes / @media queries / @supports blocks, etc.
---> @font-face:
      It only contains fonts properties like font-family and font-weigth.
    -It doesn't need any names but with the others, we have to set a name.
    -It cannot be declared within a CSS selector.
--->  @supports blocks:
    It needs operators like not, and , or..
    It starts with the query.

Some fonts come with licencing restrictions. What does this mean?
---> That means they can be implanted in our publication and printed anywhere.
    We cannot use them for free.


A designer has assigned you a mockup to turn into HTML/CSS. You've tabled the list of fonts used in the document as follows:
font-family	font-weights	italic?
'Roboto'	400, 700	Both
'Proxima Nova'	100, 300, 600, 800	No
How many font-face blocks do we need to provide if we want to support all the chosen fonts?
---> I think it is about 8font-faces. Two fonts for the italics and 6 for the others.

At roughly 20KB per font file, how many kilobytes of fonts would each of our users have to download in the example above?
---> I think it should be about 160KB.

If we chose to offer WOFF2 as well as WOFF, what syntax would we use? How many files would we have, according to question 5?
--->We need to offer two formats in evry file, so it must be 16 files.

Most of our users would probably have the exact font we want to serve already installed on their devices. How can we make sure the user's browser doesn't download the fonts they might already have?
  Syntax: @font-face {
  font-family: ();
  src: url('./Roboto.woff2') format(woff2),
        url('./Roboto.woff') format(woff);
}
---> They should check in the local system whether they already have the fonts before dowloading.


Sometimes we have to assign fallback fonts for our custom webfonts we add via `@font-face`. What are some things to keep in mind when it comes to selecting these fallback fonts?
---> We have to choose fonts that have similar characters like same heigth and width.

10. The browser can use one of several strategies for loading the fonts, e.g. showing nothing until the font is downloaded, or using a fallback font first. What property can we use to help the browser decide on which strategy to use?
---> We use the font-display property to determine how a font face is displayed based on whether and when it is downloaded and ready to use.

*/
